# Requirements
## Introduction
People suffering with Alzheimer's disease easily forget Thing like who and where they are from. In this project we can easily find out their whereabouts and help them reach safe hands.
# Features
-> Easily accessible  
-> Artificial Memory
-> Easy to use
# 4W and 1H
- Who:
  People suffering with Alzheimer's disease can use.
- What:
  To memorize personal details with less time and effort.
- When:
  Can be used anytime.
- Where:
  Can be used from anywhere.
- How:
  Very friendly to use, yoou can access with one touch.
# High level requirements
|ID|Description|
|:--:|:--:|
|HR_01|Windows /Linux operating system|
|HR_02|Gcc compiler with Makefile for Multifile programming|
|HR_03|Application that runs on both Windows and Linux operating system|
|HR_04|Application that allows user to make a choice of operation to be performed|
# Low level requirements
|ID|Description|
|:--:|:--:|
|LR_01|The application must be able to execute irrespective of OS,provided with GCC compiler,makefile and Static and Dynamic code analysis|
|LR_02|User data is stored in file|
|LR_03|User can add new data, update/view/delete existing data|